{% extends 'main.html' %}

{% block content %}
<h1>All Projects</h1>

<table>
    <tr>
        <th>Title</th>
        <th></th>
        <th></th>
    </tr>
    {% for project in projects %}
    <tr>
        <td><a href="{% url 'project' project.id %}">{{project.title}}</a></td>
        <td><a href="{% url 'edit-project' project.id %}">Edit</a></td>
        <td><a href="{% url 'delete-project' project.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}

{% block title %}
All Projects
{% endblock %}